<div class="container mt-5 w-25">
    <form>
        <h2 class="text-center">{{Title}}</h2>
        <div class="form-control">
            <label for="NetPrice">Nettó ár (Ft)</label>
            <input type="number" class="form-control" name="NetPrice" id="NetPrice" [(ngModel)] = "NetPrice">
            <label for="Vat">ÁFA (%)</label>
            <input type="number" class="form-control" name="Vat" id="Vat" [(ngModel)] = "Vat">
            <div class="text-center">
                <button class="btn btn-success m-2" (click)="showAlertGrossPrice()" >Számítás</button>
            </div>
        </div>
    </form>
</div>
