<div class="container mt-5 w-25">
    <h2 class="text-center">{{Title}}</h2>
    <form>
        <div class="form-control">
            <label for="Height">Magasság (cm)</label>
            <input type="number" [(ngModel)]="Height" class="form-control" name="Height" id="Height">
            <label for="Weight">Súly (kg):</label>
            <input type="number" [(ngModel)]="Weight" class="form-control" name="Weight" id="Weight">
            <div class="text-center">
                <button class="btn btn-success m-2" (click)="showBmiAlert()"> Számol </button>
            </div>
        </div>
    </form>
</div>