body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
	margin-top: 40px;
	margin-bottom: 60px;
	background-color: #e3e8e7;
    font-family: Arial, 'Times New Roman', Times, serif;
    font-size: 120%;
}

main {
	background-color: #ffffff;
	padding: 60px;
	padding-bottom: 60px;
	padding-top: 30px;
}

/* felső kép reszpozivitás*/
.top-img {
	width: 100%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
}

table, td, th {
	border: 1px solid black;
}

td, th {
	padding: 15px;
    text-align: center;
}

table {
	margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.alap {
    background-color: #2fb9b9;
    color:white;
}

.kozep {
    background-color: #3b5998;
    color:white;
}

.halado {
    background-color: #108810;
    color:white;
}

th {
    background-color: #a3a3c2;
    color:white;
}

.top-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8b9dc3;
	font-size: 22px;
}

.top-nav li{
    float: left;
}

.top-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li a:hover {
    background-color: #4099ff;
}

.top-nav .active {
    background-color: #3b5998;
}

p.kozepre {
    text-align: center;

}

p.sorkizart {
    text-align: justify;
}

a:link {
    text-decoration: none;
}

a:visited { 
    color:gray;
}

a:hover{
    color:#3b5998;
}

.web-stat-table {
    margin-bottom: 60px;
}

.web-stat-table th {
    color:white;
    background-color: #3b5998;
}

.csomag-ajanlataink-link {
    text-transform: uppercase;
    font-size: 140%;
}

.munkatarsaink-table {
    font-style: italic;
}

.munkatarsaink-table a:link {
    color:gray;
}

.munkatarsaink-table a:hover {
    color:blueviolet
}

.munkatarsaink-table th {
    background-color: #e3e8e7;
    color:black;
}

/* később pszeduó osztályokkal */
/* valahányadik sor szinezése odd, even (páratlan, páros)*/
/*
tr:nth-child(2) {
    background: red;
}*/
/*
tr:nth-child(odd) {
    background: red;
}*/